#include <windows.h>

101 ICON "app.ico"
1 RT_MANIFEST "app.manifest"

#pragma code_page(65001)
1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "FileDescription", "快捷控制台\0"
            VALUE "InternalName", "CommandPanel\0"
            VALUE "OriginalFilename", "CommandPanel.exe\0"
            VALUE "ProductName", "快捷控制台\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
